		body
		{
		margin:0;
		padding:0;
		font-family:arial;
		}
		
		#header
		{
		height:400px;
		background: url("img.jpg");
		}
		
		#header h1
		{
		padding-left:20px;
		padding-top:20px;
		float:left;
		}
				
		.logo
		{
		padding-left:20px;
		padding-top:20px;
		float:right;
		}
		
		.menutop
		{
		display:-webkit-flex;
		display:-moz-box;
		display:flex;
		width:100%;
		margin:auto;
		text-align:center;
		}
		
		.menutop a
		{
		display:block;
		-moz-box-flex:1;
		-webkit-flex:1;
		flex:1;
		font-size:14px;
		background:olive;
		color:white;
		text-decoration:none;
		padding:7px 0;
		text-align:center;
		}
		
		.menutop a:hover
		{
		background:gold;
		color:black;
		text-shadow:1px 1px 2px white;
		
		}
		